/*profil.css*/

body {
    background-color: lightgoldenrodyellow;
    font-family: verdana, sans-serif;
    font-size: 17px;
    color: rgb(217, 102, 255)
}
#logo {
    width: 300px;
    position: relative;
    left: 10%;
    top: 10px;
}
#titre {
    position: absolute;
    left: 40%;
    top: 80px;
}
h1{
    color: cadetblue;
    font-family: fantasy;
}
h3 {
    text-align: center;
    color: cadetblue;
}
h5 {
    text-align: center;
}
#description {
    position: absolute;
    left: 10%;
    top: 260px;
    text-align: center;
    font-family: verdana, sans-serif;
}
#manga {
    border: dashed 5px cadetblue;
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 400px;
    width: 25%;
    height: 250px;
}
#jeuxvideo {
    border: dashed 5px cadetblue;
    display: inline;
    position: absolute;
    left: 35%;
    top: 400px;
    width: 25%;
    height: 250px;
}
#series {
    border: dashed 5px cadetblue;
    display: inline;
    position: absolute;
    left: 65%;
    top: 400px;
    width: 25%;
    height: 250px;
}

#rs {
    position: absolute;
    left: 35%;
    top: 700px;
}
.imgrs {
    width: 50px;
    height: 50px;
}
